html, body {
  font-family: monospace;
}

canvas {
  margin: 10;
  display: flex;
  justify-content: center;
}

.header{
  background-color: black;
  padding: 10px;
}

footer{
  background-color: pink;
  padding: 10px;
}
